# Enter your GCP project id
GOOGLE_CLOUD_PROJECT="YOUR_PROJECT "
# Enter the GCP location for your project; for example "us-central1"
GOOGLE_CLOUD_LOCATION="us-central1"
# tells ADK to use Vertex rather than Google AI Studio with an API key
GOOGLE_GENAI_USE_VERTEXAI="1"
# Choose a model name; for example, "gemini-3-flash"
GEMINI_MODEL="gemini-3-flash"

