# General GCP
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT="YOUR_PROJECT_ID"
GOOGLE_CLOUD_LOCATION="YOUR_GOOGLE_CLOUD_LOCATION"
GOOGLE_CLOUD_PROJECT_NUMBER="YOUR_PROJECT_NUMBER"
STAGING_BUCKET="YOUR_STAGING_BUCKET_URL"

# Gmail API
GOOGLE_OAUTH_CLIENT_ID="YOUR_OAUTH_CLIENT_ID"
GOOGLE_OAUTH_CLIENT_SECRET_NAME="SECRET_MANAGER_SECRET_NAME"

# Connection Names
GMAIL_CONNECTION_NAME="GMAIL_INTEGRATION_CONNECTOR_CONNECTION_NAME"

# Deployment
IS_ADK_WEB=TRUE
AGENT_DISPLAY_NAME="Task Prioritizer"
AUTH_ID="AUTH_ID"
REASONING_ENGINE_ID="YOUR_REASONING_ENGINE_ID"
GEMINI_ENTERPRISE_APP_ID="YOUR_GEMINI_ENTERPRISE_APP_ID"
